{{#extends 'base'}}

{{#block 'content'}}
<h1>Add New Pet</h1>
<form method="POST">
    <div>
        <label>Name:</label>
        <input type="text" class="form-control" name="name"/>
    </div>

    <div>
        <label>Breed</label>
        <input type="text" class="form-control" name="breed"/>
    </div>
    
        <div>
        <label>Age</label>
        <input type="text" class="form-control" name="age"/>
    </div>

          <div>
        <label>Description</label>
        <input type="text" class="form-control" name="description"/>
    </div>

    <div>
        <label>Problems</label>
        <input name="tags" class="form-check-input" type="checkbox" value="sick"/>
        <label class="form-check-label">Sick</label>
         <input name="tags" class="form-check-input" type="checkbox" value="severesick"/>
        <label class="form-check-label">Severely Sick</label>
        <input name="tags" class="form-check-input" type="checkbox" value="healthy"/>
        <label class="form-check-label">Healthy</label>
        <input name="tags" class="form-check-input" type="checkbox" value="unhealthy"/>
        <label class="form-check-label">Unhealthy</label>
    </div>

    <div>
        <label>Tags</label>
        <input name="tags" class="form-check-input" type="checkbox" value="friendly"/>
        <label class="form-check-label">Friendly</label>
        <input name="tags" class="form-check-input" type="checkbox" value="hostile"/>
        <label class="form-check-label">Hostile</label>
        <input name="tags" class="form-check-input" type="checkbox" value="scaredofnoise"/>
        <label class="form-check-label">Afraid of loud noise</label>
    </div>

    <div>
          <input type="submit" class="btn btn-primary mt-3"/>
    </div>  
</form>
{{/block}}

{{/extends}}