{{#extends 'base'}}

{{#block "content"}}
<h1>Contact Us</h1>
<form>
    <label>Enter your first name</label>
    <input type="text" class="form-control"/>

    <input type="submit" class="btn btn-primary mt-3" value="Submit"/>
</form>

{{/block}}

{{/extends}}