{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{foodRecord.food}}?
    </div>
    <a href="/" class="btn btn-success">Cancel delete</a>
    <input type="submit" value="Confirm delete" class="btn btn-danger" />
</form>
{{/block}}

{{/extends}}