{{#extends 'base'}}

{{#block "content"}}
<h1>Adding new note to {{foodRecord.food}}</h1>
<form method="POST">
    <div>
        <label>Content of note:</label>
        <textarea class="form-control" name="content">{{content}}</textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3"/>
    </div>

</form>
{{/block}}

{{/extends}}