{{#extends 'base'}}

{{#block "content"}}
<h1>Update note</h1>
<form method="POST">
    <div>
        <label>Content of note:</label>
        <textarea class="form-control" name="content">{{note.content}}</textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3"/>
        <a href="/food/{{../foodRecord._id}}/notes" class="btn btn-secondary mt-3">Cancel</a>
    </div>

</form>
{{/block}}

{{/extends}}