{{#extends 'base'}}
{{#block 'content'}}

<form method="POST">
    <h1>Deleting food sighting</h1>
    <div class="alert alert-danger">
        Are you sure you want to delete the food sighting
        '{{foodSighting.description}}' which was added on '{{foodSighting.datetime}}'
    </div>
    <input type="submit" value="OK" class="btn btn-danger"/>
    <a href="/" class="btn btn-success">Cancel</a>
</form>

{{/block}}
{{/extends}}