{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
<h1 >Adding new comment to {{title}}</h1>

    <div>
        <label>Comments:</label>
        <textarea class="form-control" name="content">{{content}}</textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3"/>
        <a href="/" class="btn btn-secondary mt-3">Cancel</a>
    </div>

</form>
{{/block}}

{{/extends}}