{{#extends 'base'}}
{{#block 'body'}}
    <form method="POST">
        <div>
            <label>Lost Item:</label>
            <input type="text" name="item"/>
        </div>
        
        <div>
            <label>Your Email:</label>
            <input type="text" name="email"/>
        </div>
         <div>
        <label>Mode of Transport:</label>
        <input type="radio" class="form-check-input" name="transport" value="taxi" >
        <label class="form-check-label">Taxi</label>          
        <input type="radio" class="form-check-input" name="transport" value="bus" >
        <label class="form-check-label">Bus</label>
        <input type="radio" class="form-check-input" name="transport" value="mrt">
        <label class="form-check-label">MRT</label>
        </div>

        <div>
        <Label>Item Details:</Label>
        <input type="checkbox" name="formbox" value="bulky"/><label>Bulky<label>
        <input type="checkbox" name="formbox" value="expensive"/><label>Expensive<label>
        <input type="checkbox" name="formbox" value="colourful"/><label>Colourful<label>
        <input type="checkbox" name="formbox" value="branded"/><label>Branded<label>
        <input type="checkbox" name="formbox" value="small"/><label>Small<label>
        <input type="checkbox" name="formbox" value="plain"/><label>Plain<label>
        </div>
     <div>  
     <input type="Submit"/>
     </div> 
    </div>
       
    </form>
{{/block}}
{{/extends}}