{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
     <div>
        <label>Enter the food name</label>
        <input type="text" class="form-control" name="foodName"/>
    </div>
    <div>
        <label>Enter the Calories</label>
        <input type="text" class="form-control" name="calories"/>
    </div>
 <div>
        <label>Select meal:</label>

        <input type="radio" class="form-check-input" name="meal" value="breakfast"/>
        <label class="form-check-label">Breakfast</label>

        <input type="radio" class="form-check-input" name="meal" value="lunch"/>
        <label class="form-check-label">Lunch</label>

        <input type="radio" class="form-check-input" name="meal" value="dinner"/>
        <label class="form-check-label">Dinner</label>

        <input type="radio" class="form-check-input" name="meal" value="snack"/>
        <label class="form-check-label">Snacks</label>

    </div>

    <div>
        <label>Select tags</label>
        <input type="checkbox" class="form-check-input" name="tags" value="home-cooked">
        <label class="form-check-label">Home Cooked</label>

         <input type="checkbox" class="form-check-input" name="tags" value="oily">
        <label class="form-check-label">Oily</label>

         <input type="checkbox" class="form-check-input" name="tags" value="vegan">
        <label class="form-check-label">Vegan</label>

         <input type="checkbox" class="form-check-input" name="tags" value="healthy">
        <label class="form-check-label">Healthy</label>

         <input type="checkbox" class="form-check-input" name="tags" value="organic">
        <label class="form-check-label">Organic</label>
    </div>

    <input type="submit" class="btn btn-primary mt-3" value="Submit"/>
</form>

{{/block}}

{{/extends}}