{{#extends 'base'}}
{{#block "content"}}
<form method="POST">
   <div>
        <label>
            Weight:
        </label>
        <input type="number" step="0.01" name="weight" class="form-control"/>
    </div>
    <div>
        <label>Height:</label>
        <input type="number" step="0.01" name="height" class="form-control"/>
    </div>

    <div>
        <label>Unit of Measurements</label>
        
        <input type="radio" value="si" name="unit" class="form-check-input"/>
        <label class="form-check-label">SI Units</label>

        <input type="radio" value="imperial" name="unit" class="form-check-input" checked/>
        <label class="form-check-label">Imperial Units</label>
    </div>

    <input type="submit" value="Calculate BMI" class="btn btn-primary mt-3"/>
</form>
{{/block}}
{{/extends}}