{{#extends 'base'}}
{{#block "content"}}
<ul>
    <li>Food Name:{{foodName}}</li>
    <li>Calories: {{calories}}</li>
    <li>Meal: {{meal}}</li>
    <li>Tags: {{tags}}</li>
</ul>
{{/block}}

{{/extends}}