{{#extends 'base'}}
{{#block "content"}}
<h1>BMI Calculator</h1>
<form method="POST">
<div>
    <label>Height</label>
<input type="text" name="Height" class ="form-control"/>
</div>


<div>
    <label>Weight</label>
<input type="text" name="Weight" class ="form-control"/>
</div>


 <div>
        <input type="submit" value="Submit" class="btn btn-primary mt-3" />
    </div>

</form>
{{/block}}
{{/extends}}


