{{#extends 'base'}}
{{#block "content"}}
<form method="POST">
    <div>
        <label>Name:</label>
        <input type="text" name="name" class="form-control"/>
    </div>
    <div>
        <label>Breed:</label>
        <input type="text" name="breed" class="form-control"/>
    </div>
    <div>
        <label>Age:</label>
        <input type="text" name="age" class="form-control"/>
    </div>
    <div>
        <label>Problems:</label>
        <input type="text" name="problems" class="form-control"/>
    </div>

      <div>
        <label>HDB Approved</label>
        
        <input type="radio" value="true" name="hdb_approved" class="form-check-input" checked/>
        <label class="form-check-label">True</label>

        <input type="radio" value="false" name="hdb_approved" class="form-check-input" />
        <label class="form-check-label">False</label>
    </div>
  <div>
        <label class="form-label">Tags</label>
        
            
                <input name="tags" class="form-check-input" type="checkbox" value="housebroken"/>
                <label>HouseBroken</label>
            
            
                <input name="tags" class="form-check-input" type="checkbox" value="vaccinated"/>
                <label>Vaccinated</label>
            
            
                <input name="tags" class="form-check-input" type="checkbox" value="chipped"/>
                <label>Chipped</label>
            
           
            
                <input name="tags" class="form-check-input" type="checkbox" value="fixed" />
                <label>Fixed</label>
            


        

    </div>
    <input type="submit" class="btn btn-primary mt-3"/>
    <a href="/" class="btn btn-secondary mt-3">Cancel</a>

</form>
{{/block}}
{{/extends}}