{{#extends 'base'}}
{{#block "content"}}

<form method="POST">
<div>
<label>Fruits</label>
<input type="checkbox" name="items" value="durian"/><label>Durian<label>
<input type="checkbox" name="items" value="apple"/><label>Apple<label>
<input type="checkbox" name="items" value="orange"/><label>Orange<label>
<input type="checkbox" name="items" value="banana"/><label>Banana<label>
</div>

<input type="Submit"/>
</form>

{{/block}}
{{/extends}}